@model IEnumerable<HealthLogViewModel>

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>Hi, welcome back!</h4>
            <span class="ml-1">User Fitness Logs</span>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Fitness Logs</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">User Fitness Logs</a></li>
        </ol>
    </div>
</div>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">User Fitness Logs</h4>
        </div>
        <div class="card-header">
            <h4 class="card-title"> Fitness Log </h4>
            <a asp-action="CreateFitnessLog" class="btn btn-info btn-sm" style="margin-right: 5px;">
                <i class="fa fa-add"></i> Create
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="fitnessLogTable" class="table table-striped" style="min-width: 845px;">
                    <thead>
                        <tr style="text-align: center;">
                            <th>SN</th>
                            <th>Name</th>
                            <th>Exercise Name</th>
                            <th>Calories Burned</th>
                            <th>Meal Type</th>
                            <th>Food Item</th>
                            <th>Weight (kg)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            int i = 1;
                            foreach (var item in Model)
                            {
                                <tr style="text-align: center;">
                                    <td>@i</td>
                                    <td>@item.PersonalInformationName</td>
                                    <td>@item.ExerciseName</td>
                                    <td>@item.CaloriesBurned</td>
                                    <td>@item.ProteinGrams</td>
                                    <td>@item.FatGrams</td>
                                    <td>@item.WeightKg</td>
                                    <td>
                                        <a asp-action="UserFitnessDetails" asp-route-id="@item.PersonalInformationId" class="btn btn-info btn-sm" style="margin-right: 5px;">
                                            <i class="fa fa-eye"></i> View
                                        </a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8" style="text-align: center; font-weight: bold;">No Records Found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
